<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="hibernate-config">
	    <property name="connection.driver_class">org.h2.Driver</property>
	    <property name="connection.url">jdbc:h2:file:./query-testing</property>
	    <property name="connection.username"/>
	    <property name="connection.password"/>

	    <property name="hibernate.default_schema">PUBLIC</property>

	    <!-- JDBC connection pool (use the built-in) -->
	    <property name="connection.pool_size">1</property>

	    <!-- SQL dialect -->
	    <property name="dialect">org.hibernate.dialect.H2Dialect</property>

	    <!-- Echo all executed SQL to stdout -->
	    <property name="show_sql">true</property>

	    <property name="configClass">org.hibernate.cfg.Configuration</property>
        <mapping class="ru.gubber.query.test.model.Dog"/>
    </session-factory>
</hibernate-configuration>